<h1><%= @doctor.name %></h1>

<ul>
<% @doctor.patients.each do |p| %>

<li><%= link_to p.name, patient_path(p) %> </li>

<% p.appointments.each do |a| %>
<li><%= a.appointment_datetime.strftime("%B %d, %Y at %k:%M") %></li>
<% end %>
<% end %>
</ul>